body{
	background-color: #FFE;
	margin: 0px;
	padding-left: 40px;
	border-top: solid 15px #FFF;
	border-right: solid 15px #000;
	border-bottom: solid 15px #000;
	border-left: solid 15px #000;
}

h1{
	font-family: "Arial";
	font-size: 40px;
	color: red;
}

h2, h4{
	font-family: "Arial";
}

h3{
	font-family: "Arial";
	color: #887;
}


p{
	font-family: "Arial";
}

li{
	font-family: "Arial";
}

a{
	color: #900;
}
